nav {
    grid-area: nav;
}

header {
    grid-area: hd;
}












.grid1 {
  display: grid;
  min-height: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 15vh 20vh 20vh 1fr 15% 10%;
  grid-template-areas:
    "nav"
    "hd"
    "as1"
    "as2"
    "mn"
    "sc"
    "ft";
}

@media (min-width: 900px) {

  .grid1 {
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 10vh 15vh 1fr 1fr 10vh;

    grid-template-areas:
      "nav nav nav"
      "hd hd hd"
      "sc mn as1"
      "sc mn as2"
      "ft ft ft";
  }

}

